# SNAC API grab remastered

In honor of trying to get the "People" section on the Bond Papers site up and running, let's try to improve, well, everything about my old SNAC datagrab from summer '23. Need to postpone this until I can get ahold of my old laptop, though, I think. Can't seem to recover it from elsewhere.

In [2]:
import numpy as np
np.__version__

'2.3.2'

In [3]:
import time
from datetime import datetime
import pandas as pd
import requests
import json

In [9]:
query = """
{
    "command": "read",
    "constellationid": 83834110
}
"""
url = 'https://api.snaccooperative.org/'

In [15]:
requests.put??

Signature: requests.put(url, data=None, **kwargs)
Source:
def put(url, data=None, **kwargs):
    r"""Sends a PUT request.

    :param url: URL for the new :class:`Request` object.
    :param data: (optional) Dictionary, list of tuples, bytes, or file-like
        object to send in the body of the :class:`Request`.
    :param json: (optional) A JSON serializable Python object to send in the body of the :class:`Request`.
    :param \*\*kwargs: Optional arguments that ``request`` takes.
    :return: :class:`Response <Response>` object
    :rtype: requests.Response
    """

    return request("put", url, data=data, **kwargs)
File:      c:\users\charl\anaconda3\lib\site-packages\requests\api.py
Type:      function

In [1]:
response = requests.put(url, query)
print(response)
print(response.text)

In [13]:
text = response.text

type(text)

str

In [15]:
text_json = json.loads(text)

In [17]:
relations = text_json['constellation']['relations']

relations_data = pd.DataFrame([(i['targetConstellation'], i['content'], i['targetEntityType']['term']) for i in relations])
relations_data.columns = ['constellation_id', 'name', 'entity_type']
relations_data.head()

  constellation_id                                   name    entity_type
0          5532829        American Civil Liberties Union.  corporateBody
1         76111561               American Folklife Center  corporateBody
2         47287903  American Foundation For Equal Rights.  corporateBody
3         33162909                        Antioch review.  corporateBody
4         47966548        Atlanta University Center (Ga.)  corporateBody

In [23]:
relations[0]['targetEntityType']['term']

'corporateBody'

### People

In [19]:
people = relations_data[relations_data.entity_type == 'person'].reset_index()
people.shape

(155, 4)

In [23]:
people = people.drop('index', axis = 1)

In [25]:
people

,constellation_id,name,entity_type
0,1873330,"Avant, Clarence,",person
1,7797112,"Berry, Jason.",person
2,38219016,"Blackburn, Ruby Parks, 1901-1982.",person
3,17410868,"Bond, Horace Mann, 1904-1972.",person
4,33249158,"Bond, James, 1863-1929.",person
...,...,...,...
150,34868214,"Williams, Robert F. (Robert Franklin), 1925-1996.",person
151,68158725,"Winfrey, Oprah,",person
152,44738350,"Woodson, Carter Godwin, 1875-1950.",person
153,24120124,"Yarrow, Peter, 1938-",person
154,73636826,"Young, Andrew, 1932-",person

In [29]:
text_json['constellation'].keys()

dict_keys(['dataType', 'status', 'ark', 'entityType', 'sources', 'conventionDeclarations', 'languagesUsed', 'nameEntries', 'occupations', 'biogHists', 'relations', 'sameAsRelations', 'resourceRelations', 'places', 'subjects', 'nationalities', 'genders', 'id', 'version', 'dates'])

In [31]:
text_json['constellation']['biogHists'][0]['text']

"<biogHist><p>Civil rights activist, state representative, and state senator Julian Bond was born on January 14, 1940 in Nashville, Tennessee. He and his family moved to Pennsylvania, where his father, Horace Mann Bond, was appointed president of Lincoln University.</p><p>In 1957, Julian Bond graduated from the George School, a Quaker school in Bucks County, Pennsylvania, and entered Morehouse College. In 1960, Julian Bond was one of several hundred students who helped form the Student Nonviolent Coordinating Committee (SNCC). In 1965, Julian Bond was elected to the Georgia House of Representatives. He was barred from taking his seat in the House because of his outspoken statements against the Vietnam War. In December 1966 the Supreme Court ruled in his favor and he served four terms as Representative and six terms in the Georgia Senate, from 1975-1986. During the 1968 presidential election, he was the first African American to be nominated for Vice-President of the United States. He withdrew his name from the ballot, however, because he was too young to serve. Later, Julian Bond was host of<span>America's Black Forum</span>. In 1987, Bond narrated the critically acclaimed 1987 PBS series,<span>Eyes on the Prize</span>.</p><p>Julian Bond continued his tradition of activism as Chairman of the NAACP. He also served as President Emeritus of the Southern Poverty Law Center. Julian Bond was a Distinguished Scholar in Residence at American University in Washington, D.C., and a faculty member in the history department at the University of Virginia.</p><p>Bond passed away on August 15, 2015.</p><citation>From The HistoryMakers™ biography: https://www.thehistorymakers.org/biography/A2000.008</citation></biogHist>"

In [ ]:
# ['dates']['fromDate'], ['dates']['toDate']

In [33]:
content = text_json['constellation']
bond_info = (content['dates'][0]['fromDate'], content['dates'][0]['toDate'], content['sources'][0]['text'], content['nameEntries'][0]['original'])
bond_info

('1940-01-14',
 '2015-08-15',
 "Civil rights activist, state representative, and state senator Julian Bond was born on January 14, 1940 in Nashville, Tennessee. He and his family moved to Pennsylvania, where his father, Horace Mann Bond, was appointed president of Lincoln University.\r\n\r\nIn 1957, Julian Bond graduated from the George School, a Quaker school in Bucks County, Pennsylvania, and entered Morehouse College. In 1960, Julian Bond was one of several hundred students who helped form the Student Nonviolent Coordinating Committee (SNCC). In 1965, Julian Bond was elected to the Georgia House of Representatives. He was barred from taking his seat in the House because of his outspoken statements against the Vietnam War. In December 1966 the Supreme Court ruled in his favor and he served four terms as Representative and six terms in the Georgia Senate, from 1975-1986. During the 1968 presidential election, he was the first African American to be nominated for Vice-President of the United States. He withdrew his name from the ballot, however, because he was too young to serve. Later, Julian Bond was host of America's Black Forum. In 1987, Bond narrated the critically acclaimed 1987 PBS series, Eyes on the Prize.\r\n\r\nJulian Bond continued his tradition of activism as Chairman of the NAACP. He also served as President Emeritus of the Southern Poverty Law Center. Julian Bond was a Distinguished Scholar in Residence at American University in Washington, D.C., and a faculty member in the history department at the University of Virginia.\r\n\r\nBond passed away on August 15, 2015.",
 'Bond, Horace Julian, 1940-2015')

In [115]:
%%time

people_data = []
attrs = [('dates', 'fromDate', 'birth'), ('dates', 'toDate', 'death'), ('biogHists', 'text', 'bio'), ('nameEntries', 'original', 'name')]

for idx, row in people.iterrows():
    data = {
            "command": "read",
            "constellationid": row['constellation_id']
        }
    query = json.dumps(data)
    response = requests.put(url, query)
    text_json = json.loads(response.text)
    content = text_json['constellation']
    info = {}
    if len(people_data) % 10 == 0:
        print(f'Retrieving record number {len(people_data)+1}')
    for attr in attrs:
        try:
            info[attr[2]] = content[attr[0]][0][attr[1]]
        except:
            info[attr[2]] = ''

    # gender (has different structure so needs to be separate)
    try:
        gender = content['genders'][0]['term']['term']
    except:
        gender = ''
    info['gender'] = gender
            
    # VIAF and ARKID
    
    viaf = ''

    try:
        for i in content['sameAsRelations']:
            if 'viaf' in i['uri']:
                viaf = i['uri']
    except:
        pass
    
    info['arkid'] = content['ark']
    info['viaf'] = viaf
    
    people_data.append(info)

Retrieving record number 1
Retrieving record number 11
Retrieving record number 21
Retrieving record number 31
Retrieving record number 41
Retrieving record number 51
Retrieving record number 61
Retrieving record number 71
Retrieving record number 81
Retrieving record number 91
Retrieving record number 101
Retrieving record number 111
Retrieving record number 121
Retrieving record number 131
Retrieving record number 141
Retrieving record number 151
CPU times: total: 6.2 s
Wall time: 11min 58s

Wall time lines up with the amount of time it took to run this script two years ago, which frankly makes sense because it's just the API that slows it down. If they allowed for more specific queries..... but no, the most granular I can get is a full read of the constellation. C'est la vie.

In [117]:
people_data = pd.DataFrame(people_data)

In [75]:
from bs4 import BeautifulSoup

In [121]:
people_data.head(10)

,birth,death,bio,name,gender,arkid,viaf
0,1943,2006,<biogHist><p>Music executive Clarence Avant wa...,"Avant, Clarence",,http://n2t.net/ark:/99166/w6nc7ws7,https://viaf.org/viaf/124757427
1,1966,1987,,"Berry, Jason (J. Jason)",,http://n2t.net/ark:/99166/w6s75tzr,https://viaf.org/viaf/78998014
2,1901,1982,"<biogHist><p xmlns=""urn:isbn:1-931666-33-4"">Ru...","Blackburn, Ruby Parks, 1901-1982.",,http://n2t.net/ark:/99166/w6c34h1f,
3,1904-11-08,1972-12-21,"<biogHist><p xmlns=""urn:isbn:1-931666-33-4"">Ed...","Bond, Horace Mann, 1904-1972",,http://n2t.net/ark:/99166/w63f4v8p,https://viaf.org/viaf/54950255
4,1863,1929,,"Bond, James, 1863-1929",,http://n2t.net/ark:/99166/w6zk5mz8,
5,1935,2009,,"Bond, Max, 1935-2009.",,http://n2t.net/ark:/99166/w6mk6j6v,
6,1902-10-13,1973-06-04,"<biogHist><p xmlns=""urn:isbn:1-931666-33-4"">Af...","Bontemps, Arna, 1902-1973",,http://n2t.net/ark:/99166/w6z329rw,https://viaf.org/viaf/17235442
7,1902-02-19,1992-12-27,"<biogHist><p xmlns=""urn:isbn:1-931666-33-4"">Ka...","Boyle, Kay, 1902-1992",,http://n2t.net/ark:/99166/w6q81d3s,https://viaf.org/viaf/49222285
8,1894,1985,"<biogHist><p xmlns=""urn:isbn:1-931666-33-4"">Ja...","Brawley, James P., 1894-1985,",,http://n2t.net/ark:/99166/w6pg4tvh,
9,1938-08-15,,"<biogHist><p xmlns=""urn:isbn:1-931666-33-4"">St...","Breyer, Stephen G., 1938-....",,http://n2t.net/ark:/99166/w6vj6cbd,https://viaf.org/viaf/108725142

In [123]:
def clean_bio(text):
    replace_map = {
        '</p>' : ' ',
        '<span>' : ' ',
        '</span>' : ' '
    }

    if text == '':
        return text

    for k, v in replace_map.items():
        text = text.replace(k, v)

    return BeautifulSoup(text).get_text()

In [125]:
people_data.bio = people_data.bio.apply(clean_bio)
people_data

,birth,death,bio,name,gender,arkid,viaf
0,1943,2006,Music executive Clarence Avant was born on Feb...,"Avant, Clarence",,http://n2t.net/ark:/99166/w6nc7ws7,https://viaf.org/viaf/124757427
1,1966,1987,,"Berry, Jason (J. Jason)",,http://n2t.net/ark:/99166/w6s75tzr,https://viaf.org/viaf/78998014
2,1901,1982,"Ruby Georgia Parks Blackburn (1901-1982), beau...","Blackburn, Ruby Parks, 1901-1982.",,http://n2t.net/ark:/99166/w6c34h1f,
3,1904-11-08,1972-12-21,"Educator, sociologist, scholar, and author. \n...","Bond, Horace Mann, 1904-1972",,http://n2t.net/ark:/99166/w63f4v8p,https://viaf.org/viaf/54950255
4,1863,1929,,"Bond, James, 1863-1929",,http://n2t.net/ark:/99166/w6zk5mz8,
...,...,...,...,...,...,...,...
150,1925-02-26,1996-10-15,"Black poet and militant civil rights activist,...","Williams, Robert F. (Robert Franklin), 1925-1996",,http://n2t.net/ark:/99166/w6xg9zv7,https://viaf.org/viaf/23915862
151,1954-01-29,,"Oprah Winfrey is an American talk show host, t...","Winfrey, Oprah, 1954-",,http://n2t.net/ark:/99166/w6d79cm0,https://viaf.org/viaf/27226716
152,1875-12-19,1950-04-03,"Carter Godwin Woodson, educator and historian,...","Woodson, Carter Godwin, 1875-1950",,http://n2t.net/ark:/99166/w6h23s6h,https://viaf.org/viaf/19770339
153,1938-05-31,,Folk singers. \n From the descripti...,"Yarrow, Peter, 1938-....",,http://n2t.net/ark:/99166/w6b56qxq,https://viaf.org/viaf/84167935
154,1932-03-12,,"Andrew Jackson Young Jr. (born March 12, 1932)...","Young, Andrew, 1932-",Male,http://n2t.net/ark:/99166/w6fv9b75,https://viaf.org/viaf/77126748

In [127]:
people_data.gender.value_counts()

gender
          115
Male       35
Female      5
Name: count, dtype: int64

In [136]:
people_data.viaf.value_counts()['']

np.int64(25)

In [138]:
people_data.bio.value_counts()['']

np.int64(48)

In [148]:
people_data.death.value_counts()['']

np.int64(57)

So, 8 missing birth dates, 57 missing death dates (presumably many being people who have not yet died), 48 with no bio and 25 with no corresponding VIAF link. Oh an dmost of them are missing gender info on SNAC, but I don't think that's a huge deal. All in all, seems successful. Going to export with everything included for now, but may need to trim things down. Not sure how useful the gender column will be. Happy with the output though.

In [153]:
people_data.to_csv('SNAC_people.csv')

#### Reading back in - don't want to have to retrieve all the data anew

In [66]:
people = pd.read_csv('SNAC_people.csv')

In [67]:
people = people.drop('Unnamed: 0', axis = 1)

In [51]:
people.birth.unique()

array(['1943', '1966', '1901', '1904-11-08', '1863', '1935', '1902-10-13',
       '1902-02-19', '1894', '1938-08-15', '1919-10-26', '1912',
       '1941-06-29', '1924-10-01', '1942', '1927-03-31', '1924-11-30',
       '1946', '1914', '1934', '1942-08-24', '1946-08-19', '1940-08-28',
       '1929-05-16', '1924', '1939-01-20', '1940', '1944-01-26',
       '1936-12-16', '1968', '1907-05-15', '1818', '1903-09-06',
       '1950-03-23', '1953-06-10', '1897-10-07', '1911-04-17',
       '1933-03-17', '1920-01-12', '1953-03-02', '1929', '1983',
       '1912-10-08', '1928', '1927', nan, '1943-06-07', '1926-03-16',
       '1919-05-31', '1912-12-10', '1933-07-10', '1951-01-21',
       '1911-05-27', '1924-09-07', '1941-10-08', '1938-03-23',
       '1904-05-18', '1908-08-27', '1935-08-15', '1904-04-01',
       '1932-02-22', '1928-04-11', '1916-02-11', '1927-04-27',
       '1929-01-15', '1940-03-31', '1940-02-21', '1897-05-10',
       '1929-01-16', '1908', '1908-07-02', '1927-08-26', '1894-06-28',
       '1894-08-01', '1942-06-18', '1922-07-19', '1914-02-05',
       '1948-10-24', '1928-01-05', '1947-08-16', '1914-03-28',
       '1942-02-17', '1957', '1940-03-26', '1925', '1905', '1908-11-29',
       '1915-11-11', '1948-08-11', '1930-06-11', '1911-02-06',
       '1910-04-10', '1933-09-01', '1939', '1882-01-30', '1932-07-09',
       '1897-11-02', '1933-02-03', '1941', '1926-06-01', '1906-12-22',
       '1900', '1916', '1927-06-21', '1925-02-23', '1931-10-04',
       '1939-07-25', '1902-12-05', '1961', '1922-01-09', '1897-07-17',
       '1928-05-04', '1922-06-15', '1919-08-25', '1926-06-18',
       '1944-09-29', '1901-08-30', '1925-02-26', '1954-01-29',
       '1875-12-19', '1938-05-31', '1932-03-12'], dtype=object)

In [13]:
datetime??

Init signature: datetime(self, /, *args, **kwargs)
Docstring:
datetime(year, month, day[, hour[, minute[, second[, microsecond[,tzinfo]]]]])

The year, month and day arguments are required. tzinfo may be None, or an
instance of a tzinfo subclass. The remaining arguments may be ints.
File:           c:\users\charl\anaconda3\lib\datetime.py
Type:           type
Subclasses:     ABCTimestamp, _NaT

In [52]:
pd.to_datetime(people_test.birth, yearfirst=True, format = 'mixed')

AttributeError: 'DataFrame' object has no attribute 'birth'

In [35]:
def parse_birthdate(date):
    try:
        date = pd.to_datetime(date, format='%Y-%m-%d', errors='raise').date()
        return date, date
    except ValueError:
        pass
    
    try:
        year = pd.to_datetime(date, format='%Y', errors='raise').year
        start = pd.to_datetime(f'{year}-01-01').date()
        end   = pd.to_datetime(f'{year}-12-31').date()
        return start, end
    except ValueError:
        pass
    
    return None, None

# date_ranges = [parse_birthdate(v) for v in people_test.birth]

In [37]:
people_test = people.head(5)
people_test[['birth_start', 'birth_end']] = people_test.birth.apply(parse_birthdate).apply(pd.Series)
people_test[['death_start', 'death_end']] = people_test.death.apply(parse_birthdate).apply(pd.Series)
people_test = people_test.drop(['birth', 'death'], axis = 1)
people_test

C:\Users\charl\AppData\Local\Temp\ipykernel_39056\630718923.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  people_test[['birth_start', 'birth_end']] = people_test.birth.apply(parse_birthdate).apply(pd.Series)
C:\Users\charl\AppData\Local\Temp\ipykernel_39056\630718923.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  people_test[['birth_start', 'birth_end']] = people_test.birth.apply(parse_birthdate).apply(pd.Series)
C:\Users\charl\AppData\Local\Temp\ipykernel_39056\630718923.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  people_test[['death_start', 'death_end']] = people_test.death.apply(parse_birthdate).apply(pd.Series)
C:\Users\charl\AppData\Local\Temp\ipykernel_39056\630718923.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  people_test[['death_start', 'death_end']] = people_test.death.apply(parse_birthdate).apply(pd.Series)

,bio,name,gender,arkid,viaf,birth_start,birth_end,death_start,death_end
0,Music executive Clarence Avant was born on Feb...,"Avant, Clarence",NaN,http://n2t.net/ark:/99166/w6nc7ws7,https://viaf.org/viaf/124757427,1943-01-01,1943-12-31,2006-01-01,2006-12-31
1,NaN,"Berry, Jason (J. Jason)",NaN,http://n2t.net/ark:/99166/w6s75tzr,https://viaf.org/viaf/78998014,1966-01-01,1966-12-31,1987-01-01,1987-12-31
2,"Ruby Georgia Parks Blackburn (1901-1982), beau...","Blackburn, Ruby Parks, 1901-1982.",NaN,http://n2t.net/ark:/99166/w6c34h1f,NaN,1901-01-01,1901-12-31,1982-01-01,1982-12-31
3,"Educator, sociologist, scholar, and author. \n...","Bond, Horace Mann, 1904-1972",NaN,http://n2t.net/ark:/99166/w63f4v8p,https://viaf.org/viaf/54950255,1904-11-08,1904-11-08,1972-12-21,1972-12-21
4,NaN,"Bond, James, 1863-1929",NaN,http://n2t.net/ark:/99166/w6zk5mz8,NaN,1863-01-01,1863-12-31,1929-01-01,1929-12-31

In [43]:
people_test = people_test.rename(columns = {'bio':'description', 'name':'title'})

In [68]:
people[['birth_start', 'birth_end']] = people.birth.apply(parse_birthdate).apply(pd.Series)
people[['death_start', 'death_end']] = people.death.apply(parse_birthdate).apply(pd.Series)
people = people.drop(['birth', 'death'], axis = 1)
people

,bio,name,gender,arkid,viaf,birth_start,birth_end,death_start,death_end
0,Music executive Clarence Avant was born on Feb...,"Avant, Clarence",NaN,http://n2t.net/ark:/99166/w6nc7ws7,https://viaf.org/viaf/124757427,1943-01-01,1943-12-31,2006-01-01,2006-12-31
1,NaN,"Berry, Jason (J. Jason)",NaN,http://n2t.net/ark:/99166/w6s75tzr,https://viaf.org/viaf/78998014,1966-01-01,1966-12-31,1987-01-01,1987-12-31
2,"Ruby Georgia Parks Blackburn (1901-1982), beau...","Blackburn, Ruby Parks, 1901-1982.",NaN,http://n2t.net/ark:/99166/w6c34h1f,NaN,1901-01-01,1901-12-31,1982-01-01,1982-12-31
3,"Educator, sociologist, scholar, and author. \n...","Bond, Horace Mann, 1904-1972",NaN,http://n2t.net/ark:/99166/w63f4v8p,https://viaf.org/viaf/54950255,1904-11-08,1904-11-08,1972-12-21,1972-12-21
4,NaN,"Bond, James, 1863-1929",NaN,http://n2t.net/ark:/99166/w6zk5mz8,NaN,1863-01-01,1863-12-31,1929-01-01,1929-12-31
...,...,...,...,...,...,...,...,...,...
150,"Black poet and militant civil rights activist,...","Williams, Robert F. (Robert Franklin), 1925-1996",NaN,http://n2t.net/ark:/99166/w6xg9zv7,https://viaf.org/viaf/23915862,1925-02-26,1925-02-26,1996-10-15,1996-10-15
151,"Oprah Winfrey is an American talk show host, t...","Winfrey, Oprah, 1954-",NaN,http://n2t.net/ark:/99166/w6d79cm0,https://viaf.org/viaf/27226716,1954-01-29,1954-01-29,None,None
152,"Carter Godwin Woodson, educator and historian,...","Woodson, Carter Godwin, 1875-1950",NaN,http://n2t.net/ark:/99166/w6h23s6h,https://viaf.org/viaf/19770339,1875-12-19,1875-12-19,1950-04-03,1950-04-03
153,Folk singers. \n From the descripti...,"Yarrow, Peter, 1938-....",NaN,http://n2t.net/ark:/99166/w6b56qxq,https://viaf.org/viaf/84167935,1938-05-31,1938-05-31,None,None
154,"Andrew Jackson Young Jr. (born March 12, 1932)...","Young, Andrew, 1932-",Male,http://n2t.net/ark:/99166/w6fv9b75,https://viaf.org/viaf/77126748,1932-03-12,1932-03-12,None,None

In [69]:
people = people.rename(columns = {'bio':'description', 'name':'title'})
people['arkid_label'] = 'SNAC Record'
people['viaf_label'] = 'VIAF Record'
people.head()

,description,title,gender,arkid,viaf,birth_start,birth_end,death_start,death_end,arkid_label,viaf_label
0,Music executive Clarence Avant was born on Feb...,"Avant, Clarence",NaN,http://n2t.net/ark:/99166/w6nc7ws7,https://viaf.org/viaf/124757427,1943-01-01,1943-12-31,2006-01-01,2006-12-31,SNAC Record,VIAF Record
1,NaN,"Berry, Jason (J. Jason)",NaN,http://n2t.net/ark:/99166/w6s75tzr,https://viaf.org/viaf/78998014,1966-01-01,1966-12-31,1987-01-01,1987-12-31,SNAC Record,VIAF Record
2,"Ruby Georgia Parks Blackburn (1901-1982), beau...","Blackburn, Ruby Parks, 1901-1982.",NaN,http://n2t.net/ark:/99166/w6c34h1f,NaN,1901-01-01,1901-12-31,1982-01-01,1982-12-31,SNAC Record,VIAF Record
3,"Educator, sociologist, scholar, and author. \n...","Bond, Horace Mann, 1904-1972",NaN,http://n2t.net/ark:/99166/w63f4v8p,https://viaf.org/viaf/54950255,1904-11-08,1904-11-08,1972-12-21,1972-12-21,SNAC Record,VIAF Record
4,NaN,"Bond, James, 1863-1929",NaN,http://n2t.net/ark:/99166/w6zk5mz8,NaN,1863-01-01,1863-12-31,1929-01-01,1929-12-31,SNAC Record,VIAF Record

In [61]:
people = people.replace('nan', None)

In [64]:
type(people['description'][1]

float

In [70]:
people.description = people.description.apply(lambda x: f'From Social Networks and Archival context: "{x}"' if pd.notna(x) else None)
people

,description,title,gender,arkid,viaf,birth_start,birth_end,death_start,death_end,arkid_label,viaf_label
0,"From Social Networks and Archival context: ""Mu...","Avant, Clarence",NaN,http://n2t.net/ark:/99166/w6nc7ws7,https://viaf.org/viaf/124757427,1943-01-01,1943-12-31,2006-01-01,2006-12-31,SNAC Record,VIAF Record
1,None,"Berry, Jason (J. Jason)",NaN,http://n2t.net/ark:/99166/w6s75tzr,https://viaf.org/viaf/78998014,1966-01-01,1966-12-31,1987-01-01,1987-12-31,SNAC Record,VIAF Record
2,"From Social Networks and Archival context: ""Ru...","Blackburn, Ruby Parks, 1901-1982.",NaN,http://n2t.net/ark:/99166/w6c34h1f,NaN,1901-01-01,1901-12-31,1982-01-01,1982-12-31,SNAC Record,VIAF Record
3,"From Social Networks and Archival context: ""Ed...","Bond, Horace Mann, 1904-1972",NaN,http://n2t.net/ark:/99166/w63f4v8p,https://viaf.org/viaf/54950255,1904-11-08,1904-11-08,1972-12-21,1972-12-21,SNAC Record,VIAF Record
4,None,"Bond, James, 1863-1929",NaN,http://n2t.net/ark:/99166/w6zk5mz8,NaN,1863-01-01,1863-12-31,1929-01-01,1929-12-31,SNAC Record,VIAF Record
...,...,...,...,...,...,...,...,...,...,...,...
150,"From Social Networks and Archival context: ""Bl...","Williams, Robert F. (Robert Franklin), 1925-1996",NaN,http://n2t.net/ark:/99166/w6xg9zv7,https://viaf.org/viaf/23915862,1925-02-26,1925-02-26,1996-10-15,1996-10-15,SNAC Record,VIAF Record
151,"From Social Networks and Archival context: ""Op...","Winfrey, Oprah, 1954-",NaN,http://n2t.net/ark:/99166/w6d79cm0,https://viaf.org/viaf/27226716,1954-01-29,1954-01-29,None,None,SNAC Record,VIAF Record
152,"From Social Networks and Archival context: ""Ca...","Woodson, Carter Godwin, 1875-1950",NaN,http://n2t.net/ark:/99166/w6h23s6h,https://viaf.org/viaf/19770339,1875-12-19,1875-12-19,1950-04-03,1950-04-03,SNAC Record,VIAF Record
153,"From Social Networks and Archival context: ""Fo...","Yarrow, Peter, 1938-....",NaN,http://n2t.net/ark:/99166/w6b56qxq,https://viaf.org/viaf/84167935,1938-05-31,1938-05-31,None,None,SNAC Record,VIAF Record
154,"From Social Networks and Archival context: ""An...","Young, Andrew, 1932-",Male,http://n2t.net/ark:/99166/w6fv9b75,https://viaf.org/viaf/77126748,1932-03-12,1932-03-12,None,None,SNAC Record,VIAF Record

In [71]:
people.to_csv('people_updated.csv', index = False)

### Places, Corporations, etc.

In [163]:
relations_data.entity_type.value_counts()

entity_type
person           155
corporateBody     53
family             3
Name: count, dtype: int64

In [165]:
# going to come back around to this TBH. Doesn't seem like it adds as much as the "People" stuff